<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Learn++</title>
</head>
<body>

<form action = "/fillgame">

Game Type

 <select name="type">
             <option th:each="type : ${types}"
        
         th:value="${type.name}"
         th:text="${type.name}"
         />   
 </select>

<br/>

Category
 <select name="category">
 <option th:each="category : ${categories}"
        
         th:value="${category.name}"
         th:text="${category.name}"
         />
 </select>
 <br/>
 Name
 <input type="text" name="name" th:required="required"/>
 <br/>
 <input type="submit" value="create" />
 
</form>


</body>

</html>