<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Add Game!</title>
</head>
<body>
<form action = "/save" >
	Question 1:<br/>
	<input type  = "text" name = "name1" th:required="required" />
	<br/>
	<input type  = "radio" name = "select1" value="true" />True
    <input type  = "radio" name = "select1" value="false"/>False
    
    <br />
	
	Question 2:<br/>
	<input type  = "text" name = "name2" th:required="required" />
	<br/>
	<input type  = "radio" name = "select2" value="true"  />True
    <input type  = "radio" name = "select2" value="false"/>False
	
	    <br />
	
	
	Question 3:<br/>
	<input type  = "text" name = "name3" th:required="required" />
	<br/>
	<input type  = "radio" name = "select3" value="true"  />True
    <input type  = "radio" name = "select3" value="false"/>False
	
	    <br />
	
	Question 4:<br/>
	<input type  = "text" name = "name4" th:required="required" />
	<br/>
	<input type  = "radio" name = "select4" value="true"  />True
    <input type  = "radio" name = "select4" value="false"/>False
	
	    <br/>
	
	Question 5:<br/>
	<input type  = "text" name = "name5" th:required="required" />
	<br/>
	<input type  = "radio" name = "select5" value="true"  />True
    <input type  = "radio" name = "select5" value="false"/>False
    
        <br />
        <br />
        
    
    
    <input type  = "submit" value = "Save"  />
</form>
</body>
</html>	