<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Add Game!</title>
</head>
<body>
<form action = "/student/add_st_DB" >
	Question 1:<br/>
	<input type  = "text" name = "name" th:required="required" />
	<br/>
	<input type  = "radio" name = "select" value="true"  />True
    <input type  = "radio" name = "select" value="false"/>False
    
    <br />
	
	Question 2:<br/>
	<input type  = "text" name = "name" th:required="required" />
	<br/>
	<input type  = "radio" name = "select" value="true"  />True
    <input type  = "radio" name = "select" value="false"/>False
	
	    <br />
	
	
	Question 3:<br/>
	<input type  = "text" name = "name" th:required="required" />
	<br/>
	<input type  = "radio" name = "select" value="true"  />True
    <input type  = "radio" name = "select" value="false"/>False
	
	    <br />
	
	Question 4:<br/>
	<input type  = "text" name = "name" th:required="required" />
	<br/>
	<input type  = "radio" name = "select" value="true"  />True
    <input type  = "radio" name = "select" value="false"/>False
	
	    <br/>
	
	Question 5:<br/>
	<input type  = "text" name = "name" th:required="required" />
	<br/>
	<input type  = "radio" name = "select" value="true"  />True
    <input type  = "radio" name = "select" value="false"/>False
    
        <br />
        <br />
        
    
    
    <input type  = "submit" value = "Add Game"  />
</form>
</body>
</html>	