<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Learn++</title>

</head>
<body>
<form action ="/check" method="post">
Email: <input type="text" name="mail" placeholder="Email" />
<br/>
Password: <input type="password" name="password" placeholder="password" />
<br/>
<input type="submit" value="login" />
</form>


<form action="/teacher/signUpForm">
<input type="submit" value="signup as teacher" />
</form>

<form action="/student/signup_student">
<input type="submit" value="signup as student" />
</form>
</body>


</html>
