<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Learn++</title>
</head>
<body>
<form action = "/student/add_st_DB" >
	Name:<br/>
	<input type  = "text" name = "name"  th:required="required" />
	<br/>
	Email:<br/>
		<input type  = "text" name = "email" placeholder="me@example.com" th:required="required"  />
	<br/>
	Password:<br/>
		<input type  = "password" name = "password" pattern=".{6,}" title="Six or more characters" th:required="required" />
		<br/>
	 Age:<br/>
		<input type  = "number" name = "age" max="99" th:required="required" />
		<br/>
	 Gender:<br/>
	 
 		<input type  = "radio" name = "gender" value="male"  />Male<br/>
        <input type  = "radio" name = "gender" value="female"/>Female
    <br/>
    <input type  = "submit" value = "sign up"  />
</form>
</body>
</html>	
	