<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Learn++</title>
</head>
<body>

	<form action="/game/create">
    <input type  = "submit" value = "create game" />
    <br/>
    </form>
    <br/>

    <form action="/category/allcat">
    <input type  = "submit" value = "create category" />
    <br/>
    </form>
    <br/>    
    
    <form>
    <input type  = "submit" value = "update game" />
    <br/>
    </form>
    <br/>
    <form>
    <input type  = "submit" value = "delete game" />
    <br/>
    </form>
    <br/>
    <form>
    <input type  = "submit" value = "replay comment" />
    <br/>
	</form>

</body>
</html>
