<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Calculator Application</title>
</head>
<body>

	<form>
    <input type  = "submit" value = "create game" />
    <br/>
    </form>
    
    <form>
    <input type  = "submit" value = "create category" />
    <br/>
    </form>
    
    <form>
    <input type  = "submit" value = "update game" />
    <br/>
    </form>
    
    <form>
    <input type  = "submit" value = "delete game" />
    <br/>
    </form>
    
    <form>
    <input type  = "submit" value = "replay comment" />
    <br/>
	</form>

</body>
</html>
